{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>正在編輯 {{data['id']}}</p>
  <form action="/test/save?id={{data['id']}}" method="post">
  <table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>c1</th>
        <th>c2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data['id']}}</td>
        <td><input name="c1" type="text" value="{{data['c1']}}"></td>
        <td><input name="c2" type="text" value="{{data['c2']}}"></td>
      </tr>
    </tbody>
  </table>
  <button type="submit">存檔</button>
  </form>
{% endblock %}
